<body>
  <div class="jumbtron"
    <div class="conainer">
      <h1>gCamp</h1>
      <p>Your life organized</p>
    </div>
  </div>
  <div class="container">
    <div class="col-md-4">
      <%= (image_tag "nycimg1.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Tasks</h2>
          </div>
          <div class="panel-body">
            <p>Grouped by projects and lists. Just the way you like 'em.</p>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <%= (image_tag "nycimg1.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Documents</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Upload</li>
              <li>Comment</li>
              <li>Revise</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <%= (image_tag "nycimg1.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Comments</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Comment on tasks and documents</li>
              <li>Get email notification</li>
            </ul>
          </div>
        </div>
    </div>
</body>
