= form_for [@project, @task, @comment] do |f|
  .form-group.row
    .col-md-9.col-md-offset-2
      = f.text_area :copy, class: 'form-control'
  .form-group.row
    .col-md-4.col-md-offset-2
      = f.submit 'Add Comment', class: 'btn btn-primary'
