.container
  -if notice.nil?
    %p
  -else
    %p.alert.alert-success#notice= notice
  %p
    %strong Description:
    = @task.description
  = link_to 'Edit', edit_project_task_path(@project, @task)
  \|
  = link_to 'Back', project_tasks_path
