%h1 Edit user
= render 'form'
.well.col-md-offset-3.col-md-3.nudge-left
  .text-center= link_to 'Delete User', user_path(@user), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-danger'
