<body>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>gCamp</h1>
      <p>Your life organized</p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <%= (image_tag "nycimg1.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Tasks</h2>
          </div>
          <div class="panel-body">
            Grouped by projects and lists. Just the way you like 'em.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <%= (image_tag "nycimg2.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Documents</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Upload</li>
              <li>Comment</li>
              <li>Revise</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <%= (image_tag "nycimg3.jpg", class: "img-responsive") %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Comments</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Comment on tasks and documents</li>
              <li>Get email notification</li>
            </ul>
          </div>
        </div>
      </div>
