.container
  = render 'shared/success'
  %div
    .pull-right
      = link_to 'Create Project', new_project_path, class: 'btn btn-primary pull-right'
    %h1 Projects
.container
  %table.table
    %thead
      %tr
        %th
          .col-md-12 Name
  %tbody
  - @projects.each do |project|
    .col-md-12.panel
    %tr
      %td
        .col-md-6
          = link_to project.name, project_path(project)
