%h1 Frequently Asked Questions
%br
.question-list
  - @faqs.each do |faq, id|
    %h4
      %a{:href => faq.hashid}= faq.question
    %br
.jumppad
  - @faqs.each do |faq|
    %a{:name => faq.id}
    %h4= faq.question
    %p= faq.answer
    %br
