/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar a {
  color: white;
  font-weight: bold;
}

body {
  margin-top: 45px;
}

.jumbotron {
  height: 400px;
  background: image-url('nychero.jpg');
  background-size: 100%;
}

img {
  padding-bottom: 20px;
}

.terms {
  height: 600px;
  padding: none;
}

.about {
  font-size: 60px;
  font-weight: bold;
}

.quote-panel {
  padding-left: 20px;
}

li.quotes {
  list-style-type: none;
}

.jumppad {
  margin-top: 50px;
}

.foot {
  border-top: 1px solid;
  padding-top: 6px;
  padding-bottom: 2px;
  margin-top: 25px;
}

.nudge-left {
  margin-left: 24%;
  width: 24%;
}

footer li {
  display: inline;
}

.red {
  color: red;
}
