// = require_tree .
// = require_self

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 65px;
}

footer li {
  display: inline;
}

li.quotes {
  list-style-type: none;
}

.jumbotron {
  height: 450px;
  background: image-url('nychero.jpg');
  background-size: 100%;
}

.terms {
  height: 600px;
  padding: none;
}

.jumppad {
  margin-top: 50px;
}

.about {
  font-size: 60px;
  font-weight: bold;
}

.foot {
  border-top: 1px solid;
  margin-top: 25px;
}
.nudge-top {
  margin-top: 1em;
}
.nudge-left {
  margin-left: 24%;
  width: 24%;
}

.pad-bottom {
  padding-bottom: 25px;
}

.red {
  color: red;
}
